.hero-container {
    background: #000;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    padding: 20px 10%;
    height: 100dvh;
    position: relative;
    z-index: 1;
}

.name {
    background: linear-gradient(to left, red, yellow, red);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    color: transparent;
    user-select: none;
}

@keyframes rainbow {
    0% {
        background-position: 200% 0%
    }

    50% {
        background-position: 0% -100%
    }

    100% {
        background-position: -200% 0%
    }


}

.name {
    animation: rainbow 2s linear infinite;
    transition: 0.3s;
}

.presentation-frame {
    width: 800px;
    height: 200px;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    background: black; 
    padding: 20px; 
    z-index: 1; 
    color: white;
    text-align: center;
}


.presentation-frame::before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    background: linear-gradient(180deg, red, yellow, red);
    animation: rotBGimg 3s linear infinite;
    z-index: -2;
}

@keyframes rotBGimg {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.presentation-frame::after {
    content: "";
    position: absolute;
    inset: 5px;
    background: black;
    border-radius: 15px;
    z-index: -1; 
}