.hero-container {
    background-image: url('/public/assets/tiled_stars.gif');
    background-size: contain;
    background-repeat: repeat;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: flex-start; 
    padding: 100px 10% 20px 10%;
    height: 100dvh;
    position: relative;
    z-index: 1;
}

.text, .name{
    display: inline; 
    font-size: 30px;
}

.mynameis{
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    user-select: none;
}

.devtext{
    font-size: 20px;
    color: #9b9a9a;
    font-weight: 500;
    user-select: none;
}

.name {
    background: linear-gradient(to left, red, yellow, red);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    color: transparent;
    user-select: none;
    animation: rainbow 2s linear infinite;
    transition: 0.3s;
}

@keyframes rainbow {
    0% { background-position: 200% 0% }
    50% { background-position: 0% -100% }
    100% { background-position: -200% 0% }
}


.presentation-frame {
    width: 800px;
    height: 200px;
    position: absolute;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    background: black; 
    padding: 20px;
    z-index: 1; 
    color: white;
    text-align: center;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.presentation-frame::before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    background: linear-gradient(180deg, red, yellow, red);
    animation: rotBGimg 3s linear infinite;
    z-index: -2;
} 

@keyframes rotBGimg {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.presentation-frame::after {
    content: "";
    position: absolute;
    inset: 5px;
    background: black;
    border-radius: 15px;
    z-index: -1;
}

.button-cv {
    background: linear-gradient(to right, red, yellow, red);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    color: transparent;
    user-select: none;
    animation: rainbow 2s linear infinite;
    transition: 0.3s;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
.button-contate-me {
    background: linear-gradient(to right, red, yellow, red);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    color: transparent;
    user-select: none;
    animation: rainbow 2s linear infinite;
    transition: 0.3s;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
.buttons-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.settings-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    backdrop-filter: blur(5px);
    width: 600px;
    height: 400px;
    background: #111111a8;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: absolute;
    left: 60%;
}

.text-settings-card{
    color: white;
    font-size: 20px;
    font-weight: 500;
    align-self: center;
}

.card-vscode {
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 30%;
    border: 2px solid #c5c3c33a;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background: rgb(56, 56, 56);
}

.card-vscode i {
    font-size: 50px;
    color: #007ACC;
    margin-bottom: 10px;
}

.img-vs{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #ffffff00;
    display: flex;    
}
